.child{
    border: 2px solid forestgreen;
    padding: 40px;
    margin: 40px;
}
.child2{
    border: 2px solid orangered;
    padding: 20px;
    margin: 20px;
}
.Grand-child{
    border: 2px solid yellow;
    padding: 20px;
    margin: 10px;
}