.Heading-01{
   width: 100%;
   background-color: rgb(252, 127, 127);
   height: 1000px;
}
.Heading-02{
   width: 100%;
   background-color: rgb(135, 135, 243);
   height: 1000px;
}
.Heading-03{
   width: 100%;
   background-color: rgb(243, 128, 128);
   height: 1000px;
}
.Heading-04{
   width: 100%;
   background-color: rgb(169, 247, 92);
   height: 100px;
}